<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doctorpatientapp">

    <application
        android:allowBackup="true"
        android:label="Doctor Patient App"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- LOGIN SCREEN -->
        <activity
            android:name=".RoleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DOCTOR SCREEN -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- PATIENT SCREEN -->
        <activity
            android:name=".PatientActivity"
            android:exported="false" />

    </application>

</manifest>